.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clear{
  clear: both;
}
.behind{
  display: none;
}
.hidden{
  visibility: hidden;
}
.bck{
  display: block;
}
.bg-white{
  background-color: white;
}
/*Terminan Estilos Globales */
.contLogo{
  width: 5.85%;
  margin: 3.7% 0% 0% 7.42%;
}
.container-li{
  width: 51%;
  margin-top: 2.7%;
  margin-right: 0%;
}
.container-li li{
  margin-top: 3.3%;
  display: inline-block;
  margin-right: 0%;
  margin-left: 2.8%;
}
.white-letter{
  color: white;
}
.black-letter{
  color: #728099;
}
.pink-letter{
  color: #ff00bf;
}
nav, header{
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 7;
}
.link{
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: 300;
}
.link:hover{
  color: #ff00bf;
}
.gray-border{
  border: solid #d8dce6 1px;
  border-radius: 10px 10px;
}
.pink-border{
  border: solid #ff00bf 1px;
  border-radius: 10px 10px;
}
.white-border{
  border: solid white 1px;
  border-radius: 10px 10px;
}