/*Comienza sección itzel*/
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clear{
  clear: both;
}
.behind{
  display: none;
}
.hidden{
  visibility: hidden;
}
.bg-white{
  background-color: white;
}
.container-logo{
  width: 5.85%;
  margin: 3.7% 0% 0% 7.42%;
}
.container-li{
  width: 51%;
  margin-top: 2.7%;
  margin-right: 0%;
}
.container-li li{
  margin-top: 3.3%;
  display: inline-block;
  margin-right: 0%;
  margin-left: 2.8%;
}
.white-letter{
  color: white;
}
.black-letter{
  color: #728099;
}
.pink-letter{
  color: #ff00bf;
}
nav, header{
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 7;
}
.link{
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 10px;
  font-weight: 300;
}
.link:hover{
  color: #ff00bf;
}
.gray-border{
  border: solid #d8dce6 1px;
  border-radius: 10px 10px;
}
.pink-border{
  border: solid #ff00bf 1px;
  border-radius: 10px 10px;
}
.white-border{
  border: solid white 1px;
  border-radius: 10px 10px;
}
/*Termina sección itzel*/

/*Comienza sección angie*/
video {
  width: 100%;
  display: inline-block;
}
#angie {
  position: relative;
}
.primera {
  padding-bottom:  0;
  margin-bottom:  0;
}
#forma {
  background: #fff;
  position: absolute;
  top: 120px;
  right: 0;
  left:60%;
  align-content: center;
  padding: 2% 3% 3% 5%;
  display: block;
}
.titulos {
  color: #352384;
  font-size: 1.7rem;
  line-height: .5;
  padding-bottom: 20px;
}
.letraChica {
  font-size: 15px;
}
.inputText {
  border: none;
  border-bottom: 1px solid black ;
  outline-style: none;
  width: 100%;
}
.margenDatosUsuario {
  margin-bottom: 20px;
  width: 100%;
}
.names ,.city {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.phone {
  margin-top: 20px;
}
.becomeDriver {
  font-size: 15px;
  display: inline-block;
  margin-top: 5%;
  padding: 5%;
  color: #fff;
  background: #ff00bf;
  border-radius: 10px;
}
.signUp {
  text-decoration: underline;
  margin-left: 5%;
  border: none;
  font-size: 15px;
  background: none;
  color: #728099;
}
.rosa:hover {
  color: #ff00bf;
}
.info {
  font-size: .7rem;
  font-family: helvetica;
  color: #728099;
}
.letraRosita {
  color:#ff00bf;
}
.infoAngie {
  width: 100%;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  background: linear-gradient( to top,#2b1e66, #76278f);
}
.infoApp {
  color: #fff;
  display: block;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}
h3 {
  font-size: 2rem;
}
.parrafo {
  margin-top: 10%;
  font-size: 1rem;
  line-height: 1.5;
}
div>img {
  margin-top: 10%;
  margin-left: 20%;
  width: 30rem;
}
button {
  cursor: pointer;
}
#forma2 {
  position: relative;
  margin-top: 20px;
  display: none;
}
.forma2 {
  background: #fff;
  position: absolute;
  top: 80px;
  right: 0;
  align-content: center;
  padding: 3% 8% 3% 5%;
}
label{
  font-family: helvetica;
  font-size: 18px;
  color: #bfc7d9;
  line-height: 24px;
}
.active {
   font-size: 13px;
   position: relative;
   bottom: 10px;
   transition: .4s;
}
.textoInput {
   font-size: 20px;
}
.promocion {
   display: none;
}
/*Termina sección angie*/

/*Comienza sección macky*/
.signUp2 {
  border: 1px solid #566277;
  font-size: 17px;
  background: none;
  color: #333447;
  padding: .5rem .875rem;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.letra{
font-size: 1rem;
line-height: 1.5;
color: #333447;
}
.margen{
  margin-left: 7%;
}
.sub {
  font-weight: 600;
  font-size: .875rem;
  top: 0;
  padding-bottom: .5rem;
}
.tit {
  margin-top: .5rem;
  font-size: 1.75rem;
  margin-top: .125rem;
}
#macky {
  display:flex;
  width: 100%;
  height: 27%;
}
.subir {
  top: -10%;
margin-bottom: 5%;
}
.segundo {
 top:20%;
  width: 40%;
  height: 25%;
}
.primer {
  top: 0;
  width: 40%;
  height: 25%;
}
.flex {
  display: flex;
}
.boton1 {
  margin-top: 6px;
}
.signUp2:hover {
  background-color: #e6e6e6;
}
/*Termina sección macky*/

/*Comienza sección lexa*/
.tamañoFoto{
	width: 100%;
	height: 100%;
}
.footerback{
  background-color: #2a2730;
}
.tamañoDiv{
  width: 10%;
}
.back{
  height: 300px;
  background-color: #352384;
}
.colorLi{
  color: #bfc7d9;
}
.background{
  background-color: #352384;
}
#contenedorUno{
  display: inline-block;
  margin-left: 320px;
  margin-top: 65px;
  position: absolute;
}
.img{
  position: relative;
  top: -22px;
  left: 185px;
  bottom:0px;
	max-height: 22rem;
}
#listaImagen{
	display: block;
	padding-bottom: 12px;
  float: left;
  position: relative;
	left: 700px;
	top: -250px;
}
.letraBlanca{
  color: white;
}
.colorLi{
	color: grey;
}
.find{
  background-color: transparent;
  border-style: none;
}
#enlacesFotos, #enlacesFooter > li {
  list-style: none;
}
#enlacesFooter > li > a{
  text-decoration: none;
  color: MediumVioletRed;
}
#enlacesFooter > a:hover{
  border-bottom: 2px solid MediumVioletRed;
}
.tamañitoDivs{
  width: 100%;
}
.claseSeccion{
	position: absolute;
	width: 1333px;
	height: 330px;
}
.claseLista{
	position: absolute;
	width: 1333px;
	height: 330px;
	bottom: 32px;
}
/*Termina sección lexa*/
.container-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #352384;
	padding: 2%;
}
.container-footer ul li, .container-footer ul li a{
	color: white;
}
